body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.leaflet-container {
  width: 100vw;
  height: 100vh;
}

#overlay {
  position: fixed;
  z-index: 1000;
}

.bigoverlay {
  position: fixed;
  top: 50vh;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 48pt;
}

.fancycolor {

  color: #00ff00;
  background-color: #660000;
}
